<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" >
    <title>Makersbnb</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
        <div class="container-fluid">
          <%# Logo %>
          <a class="navbar-brand logo-rapper" id="team-logo-title" href="/">
            <img src="/cheetha.svg" height="40">
            Team Cheetah
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if session[:maker_id] %>
                <a class="nav-link" aria-current="page" href="/spaces">Spaces</a>
                <a class="nav-link" href="#">Bookings</a>
              <% end %>
            </div>
            <% if session[:maker_id] %>
              <div style="display: flex; gap: 20px; align-items:center">
                <div>Logged in As <span class="user-name-container"><%= @maker.name %></span>
                </div>
                <a class="btn btn-outline-danger" href="/logout">Logout</a>
              </div>
            <% else %>
              <a class="btn btn-outline-primary" href="/makers/login">Makers Login</a>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container" id="spaces-container">
        <%# name %>
        <h1><%= @space.name %></h1>
        <%# description %>
        <p>Description: <%= @space.description %></p>
        <p>Price per night: £<%= @space.price %></p>
        <p>Available: <%= @space.date %></p>
        <p>Location: <%= @space.location %></p>
        <a href="/spaces/<%= @space.id %>/book" class="btn btn-primary">Book</a>
        <a href="/spaces" class="btn btn-outline-primary">Go back</a>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
